@charset "UTF-8";

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */


/* Styles for custom classes in the document. (There are more, try to find them out!) */

/* CSS Document */

.bg-gold {background-color: darkgoldenrod;
}

.bg-beige {background-color: lightgoldenrodyellow;
}

.bg-yellow {background-color:goldenrod;
}

.bg-brown {background-color: saddlebrown;
}
.bg-whip {background-color:papayawhip;
}

.bg-pink {background-color: pink;
}
.bg-sand {background-color: sandybrown;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
	color: saddlebrown
}
.fc-pink{color: pink}

.fc-brown{color: saddlebrown}

.fc-red{color:darkred}